<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Free Talk - a chatting rom</title>
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <h2>Web Workers</h2>
    <p>You can run highlighting inside a web worker to avoid freezing the browser
        window while dealing with very big chunks of code.</p>
    <p>In your main script:</p>
    <pre><code class="js">addEventListener(&#39;load&#39;, () =&gt; {
  const code = document.querySelector(&#39;#code&#39;);
  const worker = new Worker(&#39;worker.js&#39;);
  worker.onmessage = (event) =&gt; { code.innerHTML = event.data; }
  worker.postMessage(code.textContent);
});</code></pre>

    <p>In worker.js:</p>
    <pre><code class="js">onmessage = (event) =&gt; {
  importScripts(&#39;&lt;path&gt;/highlight.pack.js&#39;);
  const result = self.hljs.highlightAuto(event.data);
  postMessage(result.value);
};</code></pre>

    <h2>Node.js</h2>
    <p>You can use highlight.js with node to highlight content before sending it to the browser.
        Make sure to use the <code>.value</code> property to get the formatted html.
        For more info about the returned object refer to the api docs
        https://highlightjs.readthedocs.io/en/latest/api.html</p>
    <pre><code class="js">// require the highlight.js library including all languages
const hljs = require(&#39;./highlight.js&#39;);
const highlightedCode = hljs.highlightAuto(&#39;&lt;span&gt;Hello World!&lt;/span&gt;&#39;).value</code></pre>

    <pre><code class="js">// require the highlight.js library without languages
const hljs = require(&quot;highlight.js/lib/highlight.js&quot;);
// separately require languages
hljs.registerLanguage(&#39;html&#39;, require(&#39;highlight.js/lib/languages/html&#39;));
hljs.registerLanguage(&#39;sql&#39;, require(&#39;highlight.js/lib/languages/sql&#39;));
// highlight with providing the language
const highlightedCode = hljs.highlight(&#39;html&#39;, &#39;&lt;span&gt;Hello World!&lt;/span&gt;&#39;).value</code></pre>

    <h2>Getting the Library</h2>
    <p>You can get highlight.js as a hosted, or custom-build, browser script or
        as a server module. Right out of the box the browser script supports
        both AMD and CommonJS, so if you wish you can use RequireJS or
        Browserify without having to build from source. The server module also
        works perfectly fine with Browserify, but there is the option to use a
        build specific to browsers rather than something meant for a server.
        Head over to the <a href="https://highlightjs.org/download/">download page</a> for all the options.</p>
    <p><strong>Don't link to GitHub directly.</strong> The library is not supposed to work straight
        from the source, it requires building. If none of the pre-packaged options
        work for you refer to the <a href="http://highlightjs.readthedocs.io/en/latest/building-testing.html">building
            documentation</a>.</p>
    <p><strong>The CDN-hosted package doesn't have all the languages.</strong> Otherwise it'd be
        too big. If you don't see the language you need in the <a href="https://highlightjs.org/download/">"Common"
            section</a>,
        it can be added manually:</p>
    <pre><code class="html">&lt;script
 charset=&quot;UTF-8&quot;
 src=&quot;https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/go.min.js&quot;&gt;&lt;/script&gt;</code></pre>

    <p><strong>On Almond.</strong> You need to use the optimizer to give the module a name. For
        example:</p>
    <pre><code class="bash">r.js -o name=hljs paths.hljs=/path/to/highlight out=highlight.js</code></pre>

    <h3>CommonJS</h3>
    <p>You can import Highlight.js as a CommonJS-module:</p>
    <pre><code class="bash">npm install highlight.js --save</code></pre>

    <p>In your application:</p>
    <pre><code class="js">import hljs from &#39;highlight.js&#39;;</code></pre>

    <p>The default import imports all languages! Therefore it is likely to be more efficient to import only the library
        and the languages you need:</p>
    <pre><code class="js">import hljs from &#39;highlight.js/lib/highlight&#39;;
import javascript from &#39;highlight.js/lib/languages/javascript&#39;;
hljs.registerLanguage(&#39;javascript&#39;, javascript);</code></pre>

    <p>To set the syntax highlighting style, if your build tool processes CSS from your JavaScript entry point, you can
        import the stylesheet directly into your CommonJS-module:</p>
    <pre><code class="js">import hljs from &#39;highlight.js/lib/highlight&#39;;
import &#39;highlight.js/styles/github.css&#39;;</code></pre>

</body>

</html>